@import "tailwindcss";

@font-face {
  font-family: "BigBesty";
  src: url("../public/fonts/Bigbesty.ttf") format("truetype");
}

/* @font-face {
  font-family: "Super Trend";
  src: url("../public/fonts/Super\ Trend.ttf") format("truetype");
} */

.font-bigbesty {
  font-family: "BigBesty", sans-serif !important;
}

.font-roboto {
  font-family: "Roboto", sans-serif !important;
}
